h4 {
    margin-top: 0px;
    margin-bottom: 7px;
    font-weight: 600;
}

.total{
  font-size: 3em;
}

.mat-icon,
.description{
  color: green;
  font-size: 2em;
}

.text {
    .mat-icon{
  position: relative;
  padding : 10px,20px;
  top:5px;
}}